body {
  font-family: Arial, sans-serif;
  background-color: #1E201E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

button {
  padding: 10px;
  background: #28a745;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background: #218838;
}

.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #00000000;
  width: 800px;
}

h1 {
  text-align: center;
  color: #fff;
}

.todo-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 600px;
}

.todo-task input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-right: 10px;
  border: none;
  color: #fff;
  border: 1px solid #3C3D37;
  background-color: #3C3D37;
  border-radius: 3px;
}

.todo-task input[type="text"]::placeholder {
  color: #ddd;
}

.todo-task input[type="text"]:focus {
  outline: none;
  border-color: #0367c5;
}

.titulo-task {
  display: flex;
  width: 100%;
}

.categoria-task {
  display: flex;
  width: 100%;
}

.input-error {
  border: 2px solid #dc3545;
}

.error-message {
  display: none;
  color: #dc3545;
  font-size: 10px;
}

.filter-category {
  margin: 20px 0;
  color: #fff;
}

.filter-category select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #3C3D37;
  background-color: #3C3D37;
  color: #fff;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
  height: 400px;
  overflow: auto;
}

ul::-webkit-scrollbar {
  width: 8px;
}

ul::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 20px;
}

ul::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

ul::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Estilo para Firefox */
ul {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

li {
  background: #3C3D37;
  color: #fff;
  width: 600px;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
}

li:hover {
  background: #343534;
}

li span {
  flex: 1;
  margin-right: 10px;
  margin-left: 5px;
}

li button {
  background: #dc3545;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

li.done {
  color: #888;
}

li.done span {
  text-decoration: line-through;
}

li.done button {
  background: #c82333;
  text-decoration: none;
}

li button:hover {
  background: #c82333;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  background-color: #1E201E;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  height: 400px;
  border-radius: 3px;
}

.modal-content input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  margin: 10px 0;
  color: #fff;
  border: 1px solid #3C3D37;
  background-color: #3C3D37;
  border-radius: 3px;
  font-size: 30px;
  box-sizing: border-box;
}

.modal-content textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  margin: 10px 0;
  color: #fff;
  border: 1px solid #3C3D37;
  background-color: #3C3D37;
  border-radius: 3px;
  font-size: 20px;
  box-sizing: border-box;
}
.modal-content button {
  margin: 10px 0;
}

.modal-content #delete-task {
  background: #dc3545;
}

.modal-content #delete-task:hover {
  background: #c82333;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}